<aside class="main-sidebar" xmlns:th="http://www.thymeleaf.org">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
    	<ul class="sidebar-menu">
            <li class="header">SEARCH FILTER</li>
            <!-- Begin outer loop -->
			<li>
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" title="Application ID" id="appId" name="appId" class="form-control"
							placeholder="*Application ID..." /> 
						<input type="text" title="Date range" id="reportrange" name="level" class="form-control"
							placeholder="*Date range..." /> 
												
					</div>
					
				</form>
			</li>
			<li>
				<form action="#" method="get" class="sidebar-form">
					<input type="text" title="Search term" id="term" name="term" class="form-control"
							placeholder="Search term..." /> 
				</form>
			</li>
			
			<li>
				<form action="#" method="get" class="sidebar-form">
					<input type="text" title="Log level" id="level" name="level" class="form-control"
							placeholder="Log level..." /> 
				</form>
			</li>
			<li>
				<form action="#" method="get" class="sidebar-form">
					<button id="btnRefresh" class="btn btn-info pull-right form-control">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>
				</form>
			</li>

		</ul>
     </section>
</aside>

