<div th:fragment="content"
	xmlns:th="http://www.thymeleaf.org">
		
	<div class="row">
		<div class="col-md-12">
			<div class="box box-solid box-primary">
				<div class="box-header with-border ">
					<h6 class="box-title">Log Trails</h6>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<!-- box header -->

				<div class="box-body">
					<div id="mainForm" style="display: none;">

						<div class="box ">

							<table id="batchExecPtDetailsTable"
								class="table table-bordered table-striped table-hover table-condensed dt-responsive nowrap">
								<thead>
									<tr>
										<th>Timestamp</th>
										<th>Log Level</th>
										<th>Exec Thread</th>
										<th>Logged Text</th>
									</tr>
								</thead>
								<tbody>

								</tbody>

							</table>
						</div>

					</div>


				</div>
				<!-- ./box-body -->

			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	
	<div class="row">
		<div class="col-md-6">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h6 class="box-title">Daily Error Trend</h6>
					<div class="box-tools pull-right">
						<button id="btnTDaily" type="button" class="btn btn-box-tool">
							<i class="fa fa-line-chart"></i>
						</button>
						<!-- <button type="button" class="btn btn-box-tool"
							data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button> -->
					</div>

				</div>
				<div id="btnTDLoading" style="display: none;" class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
				<div id="divTD" class="chart" style="overflow: scroll;" align="center">
					<canvas id="tdChart" width="800" height="150"></canvas>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-6">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h6 class="box-title">Hourly Error Trend</h6>
					<div class="box-tools pull-right">
						<button id="btnTHourly" type="button" class="btn btn-box-tool">
							<i class="fa fa-line-chart"></i>
						</button>
						<!-- <button type="button" class="btn btn-box-tool"
							data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button> -->
					</div>
				</div>
				<div id="btnTHLoading" style="display: none;" class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
				<div id="divTH" class="chart" style="overflow: scroll;" align="center">
					<canvas id="thChart" width="800" height="150"></canvas>
				</div>
			</div>
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->

	<!-- Wait Modal Start here-->
	<div class="modal fade bs-example-modal-sm" id="myPleaseWait"
		tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				
				<div class="modal-body">
					<div class="progress">
						<div
							class="progress-bar progress-bar-info
                    progress-bar-striped active"
							style="width: 100%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Wait Modal ends Here -->
		
	<script th:inline="javascript">
		
		//Note: the CDATA is for Thymeleaf inline processing.
		//setting a javascript var using a server side attribute
		
		/*<![CDATA[*/
				
		var _url = [[@{/logsearch}]];
		var _urlChart = [[@{/logtrend}]];
		var refresh;
		var table;
		var tdCanvas,thCanvas;
		var tdCtx, thCtx;
				
		$(document).ready(function() {
			refresh = $('#autoRefresh').is(':checked');
			thCanvas = $('#thChart').get(0);
			tdCanvas = $('#tdChart').get(0);
			
			$('#btnTHourly').click(function(){
				var term, appId, dtRange;
				term = $('#term').val();
				appId = $('#appId').val();
				dtRange = $('#reportrange').val();
				
				if(!appId){
					showAlertModal('Application ID is required');
					return;
				}
				if(!dtRange){
					showAlertModal('Date Range is required');
					return;
				}
				
				$.ajax({
					url : _urlChart,
					method : 'GET',
					data: {p_term: term, p_appid: appId, p_dtrange: dtRange, p_level: 'ERROR', p_freq: 'HOURLY'},
					dataType: "json",
					success : function(data){
						$('#btnTHLoading').hide();
						//console.log('RESPONSE: '+JSON.stringify(data));		
						  if(thCtx){
							  thCtx.clearRect(0, 0, thCanvas.width, thCanvas.height);
						  }
						  thCtx = thCanvas.getContext("2d");
				          var myNewChart = new Chart(thCtx).Line(data, {
				        	    bezierCurve: false,
				        	    responsive: true,
				        	    maintainAspectRatio: false
				          });
				          
	          
					},//end success
					error : function(err){
						$('#btnTHLoading').hide();
						console.log('Error => '+err);
					},
					beforeSend : function(){
						$('#btnTHLoading').show();
					}
				});
			});
			$('#btnTDaily').click(function(){
				var term, appId, dtRange;
				term = $('#term').val();
				appId = $('#appId').val();
				dtRange = $('#reportrange').val();
				
				if(!appId){
					showAlertModal('Application ID is required');
					return;
				}
				if(!dtRange){
					showAlertModal('Date Range is required');
					return;
				}
				
				$.ajax({
					url : _urlChart,
					method : 'GET',
					data: {p_term: term, p_appid: appId, p_dtrange: dtRange, p_level: 'ERROR', p_freq: 'DAILY'},
					dataType: "json",
					success : function(data){
						$('#btnTDLoading').hide();
						//console.log('RESPONSE: '+JSON.stringify(data));					          
						if(tdCtx){
							  tdCtx.clearRect(0, 0, tdCanvas.width, tdCanvas.height);
						  }
						  tdCtx = tdCanvas.getContext("2d");
				          var myNewChart = new Chart(tdCtx).Line(data, {
				        	    bezierCurve: false,
				        	    responsive: true,
				        	    maintainAspectRatio: false
				          });
				          
	          
					},//end success
					error : function(err){
						$('#btnTDLoading').hide();
						console.log('Error => '+err);
					},
					beforeSend : function(){
						$('#btnTDLoading').show();
					}
				});
				
				
			});
			
			$('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
			      $(this).val('');
			 });
			
		    $('#reportrange').daterangepicker(
		        {
		          ranges: {
		            'Today': [moment(), moment().add(1, 'days')],
		            'Yesterday': [moment().subtract(1, 'days'), moment()],
		            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
		            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
		            'This Month': [moment().startOf('month'), moment().endOf('month')],
		            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
		          },
		          startDate: moment().subtract(29, 'days'),
		          endDate: moment(),
		          autoUpdateInput: false,
		          locale: {
		              cancelLabel: 'Clear'
		          }
		        },
		        function (start, end) {
		          $('#reportrange').text(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
		        }
		    );
			      		      		
			//handle checkbox toggle
			$('#autoRefresh').change(function() {
		        if($(this).is(":checked")) {
		        	refresh = true;
		            refreshPage();
		            timer = setInterval(refreshPage, 5000);
		            
		        }
		        else{
		        	refresh = false;
		        	if(timer)
		        		clearInterval(timer);
		        }
		          
		    });
			
			//handle refresh button click
			$('#btnRefresh').click(function(){
				refreshPage();
			});
						
			if(refresh){
				timer = setInterval(refreshPage, 5000);
			}	
			

		});
				
		function refreshPage(){
			//local variables
			var firstRowUUID, lastRowUUID;
			var term, appId, dtRange;
			var prev;
			var lastPage,currPage;
			
			//using location.reload() would take the context out of this request
			term = $('#term').val();
			appId = $('#appId').val();
			dtRange = $('#reportrange').val();
			lastPage = 0;
			currPage = 0;
			
			if(!appId){
				showAlertModal('Application ID is required');
				return;
			}
			if(!dtRange){
				showAlertModal('Date Range is required');
				return;
			}	
			
			$('#nodataDiv').hide();
			$('#mainForm').hide();
			$('#myPleaseWait').modal('show');
			
			if(table){
				table.destroy();
			}
						
			table = $('#batchExecPtDetailsTable')
			.DataTable({	
				"scrollX": true,
				"processing" : true,
			    "serverSide" : true,
			    //"bLenthChange" : false,
			    "pageLength" : 10,
			    "orderFixed": [ 0, 'desc' ],
			    "ajax": {
			        "url": 'logsearch',
			        "dataSrc": 'logs',
			        "data": function ( d ) {
			        	return $.extend( {}, d, {
			        		"p_term" : term,
				            "p_appid" : appId,
				            "p_level" : $('#level').val(),
				            "p_dtrange" : dtRange,
				            "p_refresh" : refresh,
				            "p_frowid" : firstRowUUID,
				            "p_lrowid" : lastRowUUID,
				            "p_prev" : (lastPage > currPage)
			              } );
			            
			        }
			      },
			    "autoWidth" : false,
			    "searching": false,
			    "initComplete": function (oSettings, json) {
			        $("#myPleaseWait").modal("hide");
			        $('#mainForm').show();
			        			      	
			    },
			    "columnDefs": [
			                   { className: "wordWrap", "targets": [ 2 ] }
			                 ],
			    "columns" : [
						       {
						        "title" : "Timestamp",
						        "mDataProp" : "timestampText",
						        "orderable": false
						       },
						       {
							        "title" : "Log Level",
							        "mDataProp" : "level",
							        "orderable": false
							   },
							   {
							        "title" : "Exec Thread",
							        "mDataProp" : "execId",
							        "orderable": false
							   },
						       {
						        "title" : "Logged Text",
						        "mDataProp" : "logText",
						        "orderable": false
						       }],
                  "pagingType" : "simple"
            	});
			
			table.on( 'xhr', function () {
			    var json = table.ajax.json();
			    firstRowUUID = json['firstRowUUID'];
		        lastRowUUID = json['lastRowUUID'];
		        
			} );
			table.on( 'page.dt', function () {
			    var info = table.page.info();
			    //console.log('Showing page: '+JSON.stringify(info));
			    lastPage = currPage;
			    currPage = info.page;
			} );
			table.on('preXhr.dt', function ( e, settings, data ) {
				
    		} );		
			
			table.columns.adjust().draw();
		}
		
		/*]]>*/
	</script>

</div>
<!-- /.box -->
